{{#extends 'base'}}

{{#block 'title'}}Truly Organic: Landing Page{{/block}}
{{#block 'content'}} 
<h1>Welcome to Truly Organic</h1>
<h2>A place to buy affordable organic foods</h2>


{{/block}}


{{/extends}}